<h1><strong><%= @preference.preference_food %></strong></h1>
<br>
<ul>
  <li><strong>Preferências de Comida: </strong><%= @preference.preference_food %></li><br>
</ul>

<%= link_to "Insira uma nova preferência de comida", preferences_path %>