<h1><strong>Painel Administrativo</strong></h1>
<br>
<p><strong>Cadastramento</strong></p>
<br>
<%= link_to 'Tipos de Cozinhas', cuisines_path %>
<br>
<%= link_to 'Preferências de Comida', preferences_path %>
<br>
<%= link_to 'Tipos de Comida', types_path %>